.container{
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.desc{
    font-size: 24px;
    color:#444; 
    width: 70%;
    line-height: 1.5;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.add{
    padding: 10px;
    margin: 20px;
    background-color: #d1411e;
    width: 150px;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    text-align: center;
    border: none;
    align-self:flex-start;
    cursor: pointer;
}


@media screen and (max-width:420px) {

    .title{
        text-align: center;
    }

    .desc{
        width: 90%;
        text-align: center;
    }

}